.link {
    color: #2E75B6;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
}

.link:hover {
    color: #29619d;
    text-decoration: none;
}

body {
    background-color: #E6EBE1;
}  

header {
    background-color: #CED6C7;
    font-size: 1.2em;
}

#username {
    padding-top: 30px;
    margin-right: 30px;
    font-size: large;
    text-decoration: underline;
}

#search-bar {
    padding-top: 30px;
    width: 300px;
    margin-right: 50px;
}

#login-form, #register-form {
    width: 300px;
    margin: auto;
}

#login-form {
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#register-form {
    padding-top: 10px;
    height: 400px;
}

#register-form button {
    margin-top: 20px;
    margin-bottom: 23px;
}

.form-container {
    border: 1px solid #888960;
    margin-top: 20px;
    width: 500px;
}

.form-container input {
    margin-bottom: 10px;
}

.screen-title {
    background-color: #D6D2AF;
    color: #6F5289;
    height: 50px;
    padding-top: 8px;
    text-align: center;
}

#wall-left-side {
    margin-left: 30px;
}

.media {
    padding: 5px;
    border: 1px solid #888960;
    width: 500px;
}

#media-footer {
    color: #6F5289;
}

#media-footer a {
    padding: 0px;
    margin: 0px;
}

#media-footer li {
    margin-right: 110px;
}

#wall-right-side {
}

#wall-right-side table {
    border: 1px solid black;
    table-layout: fixed;
    width: 300px;
}

#wall-right-side td {
    border: 2px solid #888960;
    padding-top: 5px;
    overflow: hidden;
}

#wall-right-side img {
    height: 100px;
}

#wall-right-side form {
    width: 300px;
}

#wall-right-side form img {
    height: 40px;
}

#fiends-wrapper {
    margin: 0 auto;
}

#fiends-wrapper img {
    padding-right: 15px;
}

#message-sender {
    border: 1px solid #888960;
    width: 350px;
    padding: 5px;
}

#message-sender textarea {
    margin-left: 30px;
}

#message-sender img {
    margin-left: 15px;
    padding-right: 2px;
}

#friend-header {
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    background-image: url(../pics/P1000281.JPG);
    background-position: center;
}

#friend-header img {
    position: relative;
    top: 20px;
    left: 150px;
}

#friend-header div {
    position: relative;
    bottom: 110px;
    left: 400px;
}

#friend-header div p {
    font-weight: bold;
}

#edit-profile-wrapper {
    margin-top: 50px;
    margin-left: 50px;
}

#avatar-edit, #profile-edit {
    padding: 10px;
    margin-right: 20px;
}

#wall-image {
    max-height: 150px;
    max-width: 200px;
}

#edit-profile-submit {
    margin-left: 70px;
    width: 150px;
    margin-bottom: 15px;
}

.form-group {
    border: 1px solid #888960;
    padding: 5px;
    width: 300px;
}

.friendsPreview {
    width: 303px;
}

#friendsPreview div {
    width: 100px;
    margin-right: 1px;
}

#friendsPreview div img {
    width: 100px;
}

#friendsTable td {
    padding-bottom: 10px;
    height: 100px;
}

#friendsTable img {
    padding-bottom: 10px;
    height: 100px;
}

#changePasswordWrapper {
    margin-left: 30px;
}