<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav" id="nav-menu">
        <li><img src="pics/Me%20Smiling%20Small.jpg" width="80" /></li>
        <li id="username"><a href="/#/users/{{currentUser.userName}}">Nikolay Donchev</a></li>
        <li><a href="/#/home/">News Feed</a></li>
        <li><a href="#">Friend Requests(2)</a></li>
        <li><a href="#">Edit Profile</a></li>
        <li><a href="/#/profile/password">Change Password</a></li>
        <li><a href="/#/" ng-click="logout()">Logout</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="search-bar">
        <li>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search people">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                </span>
            </div>
        </li>
    </ul>
</div>