<h2 class="screen-title">Change Password</h2>
<div class="form-group" id="changePasswordWrapper">
    <form>
        <input type="password" class="form-control" placeholder="Old Password" ng-model="passData.oldPassword" required><br />
        <input type="password" class="form-control" placeholder="New Password" ng-model="passData.newPassword" required><br />
        <input type="password" class="form-control" placeholder="New Password Confirm" ng-model="passData.confirmPassword" required><br />
        <button class="btn btn-lg btn-primary btn-block" ng-click="changePassword(passData)">Save Changes</button>
    </form>
</div>