<div class="row" id="feed-wrapper">
    <div id="friend-header">
        <img src="../pics/no_image_available.jpeg" height="150" />
        <div>
            <h2>{{friendData.name}}</h2>
            <h3 ng-show="friendData.isFriend">Friend</h3>
        </div>
    </div>

    <div id="wall-left-side" class="col-md-5">

        <div class="media" ng-repeat="newsArticle in postsList">
            <div class="media-left">
                <a class="link" ng-show="newsArticle.author.profileImageData">
                    <img src="../pics/no_image_available.jpeg" height="50" />
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="/#/users/{{newsArticle.author.username}}">{{newsArticle.author.name}}</a></h4>
                <h5>{{newsArticle.date}}</h5>
                <p>{{newsArticle.postContent}}</p>
                <div>
                    <span>{{newsArticle.likesCount}} Likes</span>
                </div>
            </div>
        </div>
        <h3 ng-show="!postsList.length">No News</h3>
    </div>
    <div ng-show="friendData.isFriend || friendData.username === currentUser.userName" id="wall-right-side" class="col-md-4">
        <div id="message-sender">
            <form>
                <div class="row">
                    <textarea rows="3" cols="40" placeholder="New Post" ng-model="postContent"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <img src="../pics/no_image_available.jpeg" height="50" />
                        <span>as {{currentUser.userName}}</span>
                    </div>
                    <div class="col-md-3"><button class="btn btn-primary" ng-click="submitMessage(postContent, currentUser.userName)">Submit</button></div>
                </div>
            </form>
        </div>

        <br />

        <h3>Friends - <a href="/#/users/{{friendData.username}}/friends">{{friendsCount}}</a> total</h3>
        <div class="friendsPreview">
            <div class="pull-left" ng-repeat="friend in friendsList"><a href="/#/users/{{friend.username}}">{{friend.name}}<img src="../pics/no_image_available.jpeg" /></a></div>
        </div>
    </div>
</div>