<div class="container">
    <div class="row" id="feed-wrapper">
        <h2 class="screen-title">News Feed</h2>
        <div id="wall-left-side" class="col-md-6">

            <div class="media" ng-repeat="newsArticle in newsList">
                <div class="media-left">
                    <a class="link" ng-show="newsArticle.author.profileImageData">
                        <img src="{{newsArticle.author.profileImageData}}" height="50" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/#/users/{{newsArticle.author.username}}">{{newsArticle.author.name}}</a></h4>
                    <h5>{{newsArticle.date}}</h5>
                    <p>{{newsArticle.postContent}}</p>                
                    <div>
                        <ul ng-show="newsArticle.author.isFriend || newsArticle.wallOwner.isFriend" class="nav navbar-nav" id="media-footer">
                            <li ng-show="!newsArticle.liked"><a class="link" ng-click="likePost(newsArticle.id)">Like?</a></li>
                            <li ng-show="newsArticle.liked"><a class="link" ng-click="unlikePost(newsArticle.id)">Unlike?</a></li>
                        </ul>                        
                        <span>{{newsArticle.likesCount}} Likes</span>
                    </div>
                </div>
            </div>
            <h3 ng-show="!newsList.length">No News</h3>

        </div>
        <div id="wall-right-side" class="col-md-4">
            <h3>Friends - <a href="/#/users/{{currentUser.userName}}/friends">{{friendsCount}}</a> total</h3>
            <div class="friendsPreview">
                <div class="pull-left" ng-repeat="friend in friendsList"><a href="/#/users/{{friend.username}}">{{friend.name}}<img src="" /></a></div>
            </div>
        </div>
    </div>
</div>